*.o
*.d
*.elf
*.l#*
*.s#*
*.b#*
*.job
*.scr
*.pro
*.mnt
.DS_Store
*.cmp
*.crc
*.dri
*.dru
*.gpi
*.mnb
*.ncl
*.tmp
*.sol
*.drd
*.dxf
_build/
*.swp
*~.nib
build/
*.pbxuser
*.perspective
*.perspectivev3
